/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.demo {
  width: 50%;
  padding: 1.5rem;
}

.code {
  width: 50%;
}

.code pre {
  height: 100%;
}

.sampleparent {
  display: flex;
}
